[submodule "littlevgl/lv_drivers"]
	path = littlevgl/lv_drivers
	url = https://github.com/fgodfrey/lv_drivers.git
[submodule "littlevgl/lvgl"]
	path = littlevgl/lvgl
	url = https://github.com/fgodfrey/lvgl.git
